.skillsContainer {
    margin-top: 5rem;
}

.skillsHeadline {
    text-align: center;
    font-size: 1.6rem;
}

.skills {
    margin: 0 auto;
    width: 60%;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.skill {
    display: flex;
    flex-direction: column;
    width: 17vh;
    height: 17vh;
    justify-content: center;
    align-items: center;
    border-radius: 0.2em;
    border: 0.8px solid black;
    transition: transform 0.1s ease-in-out;
}

.skill:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.skillIcon {
    font-size: 2.5rem;
}

.skillTitle {
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 2em;
}